{% extends 'base.html.twig' %}

{% block title %}Ejercicio index{% endblock %}

{% block body %}
    <h1>Ejercicio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>GrupoMuscular</th>
                <th>Dificultad</th>
                <th>Instrucciones</th>
                <th>CaloriasQuemadas</th>
                <th>ValorMET</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ejercicio in ejercicios %}
            <tr>
                <td>{{ ejercicio.id }}</td>
                <td>{{ ejercicio.nombre }}</td>
                <td>{{ ejercicio.descripcion }}</td>
                <td>{{ ejercicio.grupoMuscular }}</td>
                <td>{{ ejercicio.dificultad }}</td>
                <td>{{ ejercicio.instrucciones }}</td>
                <td>{{ ejercicio.caloriasQuemadas }}</td>
                <td>{{ ejercicio.valorMET }}</td>
                <td>
                    <a href="{{ path('app_ejercicio_show', {'id': ejercicio.id}) }}">show</a>
                    <a href="{{ path('app_ejercicio_edit', {'id': ejercicio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ejercicio_new') }}">Create new</a>
{% endblock %}
