{% extends 'base.html.twig' %}

{% block title %}Receta index{% endblock %}

{% block body %}
    <h1>Receta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Instrucciones</th>
                <th>CantidadFinal</th>
                <th>Proteinas</th>
                <th>Grasas</th>
                <th>Carbohidratos</th>
                <th>Azucares</th>
                <th>Vitaminas</th>
                <th>Minerales</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recetum in recetas %}
            <tr>
                <td>{{ recetum.id }}</td>
                <td>{{ recetum.nombre }}</td>
                <td>{{ recetum.descripcion }}</td>
                <td>{{ recetum.instrucciones }}</td>
                <td>{{ recetum.cantidadFinal }}</td>
                <td>{{ recetum.proteinas }}</td>
                <td>{{ recetum.grasas }}</td>
                <td>{{ recetum.carbohidratos }}</td>
                <td>{{ recetum.azucares }}</td>
                <td>{{ recetum.vitaminas }}</td>
                <td>{{ recetum.minerales }}</td>
                <td>{{ recetum.imagen }}</td>
                <td>
                    <a href="{{ path('app_receta_show', {'id': recetum.id}) }}">show</a>
                    <a href="{{ path('app_receta_edit', {'id': recetum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_receta_new') }}">Create new</a>
{% endblock %}
