{% extends 'base.html.twig' %}

{% block title %}Receta{% endblock %}

{% block body %}
    <h1>Receta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recetum.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ recetum.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ recetum.descripcion }}</td>
            </tr>
            <tr>
                <th>Instrucciones</th>
                <td>{{ recetum.instrucciones }}</td>
            </tr>
            <tr>
                <th>CantidadFinal</th>
                <td>{{ recetum.cantidadFinal }}</td>
            </tr>
            <tr>
                <th>Proteinas</th>
                <td>{{ recetum.proteinas }}</td>
            </tr>
            <tr>
                <th>Grasas</th>
                <td>{{ recetum.grasas }}</td>
            </tr>
            <tr>
                <th>Carbohidratos</th>
                <td>{{ recetum.carbohidratos }}</td>
            </tr>
            <tr>
                <th>Azucares</th>
                <td>{{ recetum.azucares }}</td>
            </tr>
            <tr>
                <th>Vitaminas</th>
                <td>{{ recetum.vitaminas }}</td>
            </tr>
            <tr>
                <th>Minerales</th>
                <td>{{ recetum.minerales }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ recetum.imagen }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_receta_index') }}">back to list</a>

    <a href="{{ path('app_receta_edit', {'id': recetum.id}) }}">edit</a>

    {{ include('receta/_delete_form.html.twig') }}
{% endblock %}
