{% extends 'base.html.twig' %}

{% block title %}Alimento index{% endblock %}

{% block body %}
    <h1>Alimento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Proteinas</th>
                <th>Grasas</th>
                <th>Carbohidratos</th>
                <th>Azucares</th>
                <th>Vitaminas</th>
                <th>Minerales</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alimento in alimentos %}
            <tr>
                <td>{{ alimento.id }}</td>
                <td>{{ alimento.nombre }}</td>
                <td>{{ alimento.descripcion }}</td>
                <td>{{ alimento.marca }}</td>
                <td>{{ alimento.cantidad }}</td>
                <td>{{ alimento.proteinas }}</td>
                <td>{{ alimento.grasas }}</td>
                <td>{{ alimento.carbohidratos }}</td>
                <td>{{ alimento.azucares }}</td>
                <td>{{ alimento.vitaminas }}</td>
                <td>{{ alimento.minerales }}</td>
                <td>{{ alimento.imagen }}</td>
                <td>
                    <a href="{{ path('app_alimento_show', {'id': alimento.id}) }}">show</a>
                    <a href="{{ path('app_alimento_edit', {'id': alimento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alimento_new') }}">Create new</a>
{% endblock %}
