{% extends 'base.html.twig' %}

{% block title %}Peso{% endblock %}

{% block body %}
    <h1>Peso</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ peso.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ peso.fecha ? peso.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ peso.peso }}</td>
            </tr>
            <tr>
                <th>Imc</th>
                <td>{{ peso.imc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_peso_index') }}">back to list</a>

    <a href="{{ path('app_peso_edit', {'id': peso.id}) }}">edit</a>

    {{ include('peso/_delete_form.html.twig') }}
{% endblock %}
